*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--bs-light);
}
body {
    background-color: #212121;
    overflow-x: hidden;
}
.header {
    background-color: #000;
    min-width: 100%;
    min-height: 80px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo img {
    width: 200px;
    height: auto;
}
.header-nav ul {
    list-style: none;
    margin-bottom: 0!important;
}
.header-nav ul li a{
    text-decoration: none;
    color: #ACACAC;
    font-size: 1.1rem;
    background-image: 
    linear-gradient(
        transparent 0%,
        transparent 90%,
        #e6b43e 90%,
        #e6b43e 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: right;

    transition: background-size 400ms;

    padding-bottom: 5px;
}
.header-nav ul li a:hover {
    background-size: 100% 100%;
    background-position: left;
}
.header-mobile{
    display: none;
}
.header-mobile--nav{
    display: none;
}

.section-banner {
    width: 100vw;
    height: 75vh;
    margin: 0!important;
}
.leftside {
    background-image: url('/deabreu/public/assets/media/banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0!important;
}
.rightside {
    background-image: url('/deabreu/public/assets/media/banner1.jpg'');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0!important;
    
}
.bg-opacity1,
.bg-opacity2 {
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: #CCC;
}
.bg-opacity1:hover,
.bg-opacity2:hover {
    transition: all ease 0.5s;
    background-color: rgba(0,0,0, 0.3);
    cursor: pointer;
    color: var(--bs-white);
    font-size: 50px;
}
.bg-text {
    background-image: 
    linear-gradient(
        transparent 0%,
        transparent 90%,
        #e6b43e 90%,
        #e6b43e 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: right;

    transition: background-size 300ms;
}
.bg-text:hover {
    background-size: 100% 100%;
    background-position: left;
}



.content {
    width: 100%;
    height: 17vh;
}
.content h3 {
   font-size: 20px;
   cursor: default;

}
.background-black {
    background-image: url('/deabreu/public/assets/media/bgblack.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-carousel{
    width: 100%;
    height: 80vh;
}
.carousel-slide--1 {
    background-image: url('/public/assets/media/manilhas.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.carousel-slide--2 {
    background-image: url('/public/assets/media/terraplanagem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.carousel-slide--3 {
    background-image: url('/public/assets/media/loteamento.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}
.carousel-slide--1 h3,
.carousel-slide--2 h3,
.carousel-slide--3 h3 {
    font-size: 3rem;
    color: #FFF;
    cursor: default;
}
.carousel-slide--1 span,
.carousel-slide--2 span,
.carousel-slide--3 span {
    font-size: 1.5rem;
    color: #FFF;
    cursor: default;
    text-align: center;
}




.section-sobre {
    width: 100%;
    height: auto;
}
.section-sobre--title h4{
    font-size: 2rem;
    cursor: default;
}
.title-bar{
    width: 150px;
    background-color: #e6b43e;
    height: 3px;
}

.section-sobre--description{
    font-size: 1.3rem;
}

.funcionarios-area{
    background-color: #FFF;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    padding: 30px;
}
.avatar-area img {
    width: 120px;
    height: auto;
    border-radius: 50%;
}

.funcionario-nome span{
    color: #212121;
    font-weight: 600;
    font-size: 1.3rem;
}
.funcionario-cargo span {
    color: #e6b43e;
    font-weight: 600;
    font-size: 1.1rem;
}
.funcionario-descricao {
    text-align: center;
}
.funcionario-descricao span {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
}

.contato-background{
    background-image: url('/public/assets/media/banner3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;
}
.contato-background h3 {
    font-size: 3rem;
    color: #FFF;
    font-weight: bold;
    background-color: rgba(0,0,0, 0.7);
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
}

.localizacao-background{
    background-image: url('/public/assets/media/bannermapa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vh;
}



.form-area{
    
}



.footer {
    width: 100vw;
    height: 18vh;
    background-color: #000;
}
.footer-container{
    width: 100%;
    height: 100%;
}
.footer-area {
}
.footer-logo img{
    width: 200px;
}

.footer-sociais--icon img {
    width: 24px;
    margin-right: 10px;
    margin-left: 10px;
}
.footer-sociais--title{
    margin-bottom: 5px;
}
.footer-sociais--title span {
    font-size: 17px;
    cursor: default;
}







aside {
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
}
.ballon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 42px;
    margin: 30px;
    border-radius: 30px;
    background-color: #22c15e;
    border-radius: 40px;
}
.ballon:hover {
    background-color: #22a15e;
    transition: all ease 0.3s;
}
.ballon-icon img {
    width: 40px;
}
.ballon-text {
    padding-left: 5px;
}
/*
Mobile header
*/
.header-mobile--nav {
    width: 80vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0, 0.9);
    left: 0;
    top: 0;
    transition: all ease 500ms;
}


/*Media*/

@media (max-width: 768px) {
    .section-contato {
        justify-content: space-between!important;
        padding: 20px!important;
    }
    .section-contato span {
        font-size: 0.8rem;
    }
    .contato-email {
        width: auto!important;
    }



    .footer {
        height: auto;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    .footer-address {
        margin-top: 10px;
        justify-content: start!important;
    }
    .footer-address ul{
        padding-left: 0!important;
    }
}


@media (min-width: 320px) and (max-width: 425px) {
    .header-nav--area.nav-default-none{
        display: none;
    }

    .header-mobile{
        display: flex;
    }
    .header-mobile--nav{
        display: flex;
    }
    .header-nav--area{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-mobile--nav .header-nav ul li a{
        font-size: 30px;

    }


    .leftside,
    .rightside {
        flex: auto;
    }

    .content h3{
        font-size: 17px;
        text-align: center;
    }

    .carousel-slide--1 h3,
    .carousel-slide--2 h3,
    .carousel-slide--3 h3 {
        font-size: 2.2rem;
        text-align: center;
    }
    .carousel-slide--1 span,
    .carousel-slide--2 span,
    .carousel-slide--3 span {
        font-size: 1.2rem;
    }


    .section-sobre--funcionarios .row {
        display: block;

    }
    .section-sobre--funcionarios .row .col {
        margin-bottom: 15px;
    }
    .contato-background h3 {
        font-size: 2.3rem;
    }
    

    .section-contato {
        flex-direction: column;
        align-items: center;
    }
    .contato-endereco{
        margin-bottom: 10px;
    }
    .contato-email{
        width: auto;
        margin-bottom: 10px;
    }
    .contato-telefone {
        width: auto;
    }
    .orcamento-title{
        text-align: center;
        margin-bottom: 15px;
    }
    .orcamento-title .title-bar {
        width: 200px!important;
    }
    .form-area{
        width: 100%!important;
    }



    .footer {
        height: auto;
        padding: 15px;
    }
    .footer-area {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .footer-sociais {
        margin-bottom: 15px;
    }
    .footer-sociais--title{
        display: none;
    }

    aside .ballon{
        width: 60px;
    }
    .ballon-text{
        display: none;
    }
}
